body {
    margin: 0px auto;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 34px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h4 {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-decoration: none;
}

h5 {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 1  00;
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-size: 34px;
    color: #000;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    text-align: end;
}

p {
    font-size: 18px;
    color: #f9faf8;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0px;
}

a {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

img {
    max-width: 1200px;
    max-height: 370px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    width: 100%;
    height: 100%;
}

.primary-button {
    background-color: #3882f6;
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 10px 50px;
}

.primary-button:hover {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px 50px;
    color: #fff;
    cursor: pointer;
}

.secondary-button {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px 50px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.secondary-button:hover {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 10px 50px;
    color: #3882f6;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 10% 0px 10%;
    margin: 0px auto;
}

.nav-header-logo {
    
    justify-content: flex-start;
    flex: 0 auto;
    
}

.nav-header-items {
    
    justify-content: flex-end;
    flex: 0 auto;
}

.section {
    display: flex;
    flex-direction: row;
}

.section-blue {
    background-color: #1f2937;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5% 10%;
    column-gap: 70px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.section-blue-div {
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;    
    align-content: flex-start;
    flex: 1 40%;
}

.section-white {
    background-color: #fff;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.section-white-div {
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.section-white-div h2 {
    text-align: center;
}

.section-white-div-inner {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    column-gap: 40px;
    width: 100%;
}

.section-white-div-inner p {
    color: #1f2937;
}

.section-white-div-inner span {
    flex: 0 200px;
    width: 20%;
    row-gap: 25px;
    display: flex;
    flex-direction: column;
}

.section-grey {
    background-color: #e5e7eb;
    padding: 5% 20%;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1%;
    column-gap: 30px;
    row-gap: 20px;
}

footer {
    background-color: #1f2937; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-white-block {
    background: #3882f6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: space-around;
    padding: 60px 40px;
    max-width: 1420px;
    row-gap: 40px;
    margin: 10px;
}

.section-white-block span {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

@media only screen and (min-width: 200px) and (max-width: 767px)  {
    
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        padding: 10%;
    }
    
    .nav-header-items {
        display: none;
    }
    
    .section-blue-div {
        align-items: center;
        
    }
    
    .section-blue{
        padding: 5% 5% 20% 5%;
    }
    
    .section-grey {
        padding: 10%;
    }
    
    .section-white {
        margin: 30px;
        padding: 5%;
    }
    
    h1, h2, h3, h4, h5, h6, p {
        text-align: center;
    }
    
    .section-white-block {
        padding: 30px;
    }
    
    img {
        max-height: 200px;
    }
    
}